.cpWrapper{
	
	/*border: 1px solid rgba(0, 0, 0, .25);*/

	background-color: #FFF;

	margin-right: auto;
	margin-left: auto;
	/*margin-bottom: 25px;*/

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	padding: 25px 20px;

	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.18);
	box-shadow: 0 1px 8px rgba(0,0,0,0.18);
}

.cpWrapperWrapper{
	background-color: #FFF;
	/*border-bottom: 1px solid #d1d1d1;*/
	border-top: 1px dashed #d1d1d1;
	margin-bottom: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
}



.mainWrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

.headlineArea{
	text-align: left;
}

.cpDateUnder{
	border-top: 1px solid rgba(0, 0, 0, .10);
	margin-top: 0px;
	padding-top: 20px;
	font-size: 14px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

.cpDateUnder i{
	margin-right: 5px;
}

.cpDateMth{
	color: rgba(0, 0, 0, .50);
}

.cpLeftSide{
	/*background-color: #DDD;*/
}

.cpRightSide{

	/*background-color: #000;*/
}

.optinHeadline{
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

	#optName{
		background-position: 410px;
	}

	#optEmail{
		background-position: 410px;
	}

	#optPhone{
		background-position: 410px;
	}

	#optSkype{
		background-position: 410px;
	}

	#optinBTN{
		width: 100%;
		text-align: center;
		/*background-image: none;*/
	}

.ctaArea{
	min-width: 0px;
	margin: 0px;
	border: 0px;
	/*background-color: #030201;*/
	margin-bottom: 20px;
}

.cpUnderHeadline{
	margin-top: 20px;
	margin-right: -5px;
	margin-left: -5px;
	background-color: #F1F1F1;
	padding: 20px;
	/*border: 1px solid rgba(0, 0, 0, .10);*/
	/*border-bottom: 1px solid rgba(0, 0, 0, .10);*/
	font-weight: bold;

	/*padding-left: 20px;
	padding-right: 40px;*/
}

.cpUnderCopy{
	overflow: hidden;
	padding: 30px 0;
}

.cpCopyArea{
	width: 100%;
}
.cpHostBlock{

}

.cpCopyTY{
	float: right;
	width: 410px;
}

.hostInfoCopy{
	width: 307px;
}

.cpHostBlock{
	margin-top: -10px;
}

.ticketWrapper{
	margin: 0px;
	background-color: #f7f7f7;
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, .15);
	color: #191919;
}
.ticketSection{
	color: #191919;
}

.disabled{
	background-color: #bfbfbf !important;
	border: 1px solid #5d5d5d !important;
	color: #000 !important;;
}
.ticketHeadline{
	background-color: #2f2f2f;
}

.cpWebinarURL{
	width: 410px;
	margin-left: 20px;
	background-color: #bddfff;
	color: #1a406c;
	padding: 15px;
	margin-top: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-bottom: 3px solid rgba(0, 0, 0, .20);
}

.addCalendar{
	margin: 0px;
	background-color: #EEEEEE;
}

.phoneReminder{
	/*padding-left: 25px;
	padding-right: 25px;
	margin-top: 20px;
	margin-bottom: 20px;*/
}

#optPhone{
	/*width: 327px;*/
}

.shareBlock{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: #FFF;
	padding-top: 0px;
}

.webinarURLArea{
	background-color: #e6e6e6;
	margin-right: -25px;
	margin-left: -25px;
	margin-bottom: -25px;
	padding: 25px;
}

.ticketWrapper .eventDate{
	border: none;
	margin: 0px;
	padding: 0px;
	margin-top: -5px;
}

.ticketInfoNew{
	/*background-color: #FFF;*/
	margin-right: -25px;
	margin-left: -25px;
	/*margin-bottom: -25px;*/
	padding: 25px;
	padding-top: 0px;
	margin-top: 15px;
	padding-bottom: 0px;
	border-top: 1px dashed #DDD;
}

.ticketSectionx{
	margin-bottom: 15px;
}

.ticketInfoNewHeadline{
	font-size: 18px;
	margin-top: 5px;
}

.ticketInfoIcon{
	float: left;
	widows: 48px;
	margin-left: 20px;
	color: #878787;
}

.ticketInfoCopy{
	float: left;
	margin-left: 20px;
	width: 320px;
}

.ticketInfoIcon2{
	float: left;
	widows: 48px;
	margin-left: 29px;
	color: #878787;
}

.ticketInfoCopy2{
	float: left;
	margin-left: 29px;
	width: 310px;
}

.ticketSectionNew{
	margin-left: -25px;
	padding-left: 25px;
	margin-right: -25px;
	padding-right: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.remindersBlock{
	border-top: 3px solid #ececec;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
}

.remindersBlock .small{
	font-size: 12px;
	margin-bottom: 15px;
}